body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray80;
  line-height: 1.5;
}

p, a, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a:active, a:focus {
  outline: none;
}